NEXT_PUBLIC_APTOS_NETWORK=testnet

NEXT_PUBLIC_APTOS_API_KEY=aptoslabs_YOUR_KEY_HERE

NEXT_PUBLIC_SHELBY_API_KEY=aptoslabs_YOUR_KEY_HERE

NEXT_PUBLIC_PUZZLE_REGISTRY_ADDRESS=

NEXT_PUBLIC_APTOS_FAUCET_URL=https://faucet.testnet.aptoslabs.com

NEXT_PUBLIC_SHELBYUSD_FAUCET_URL=https://faucet.shelby.xyz/shelbyusd

NEXT_PUBLIC_PROGRESS_SALT=change-me
